#s-75a24b04-a447-41dd-842a-5e69cc7eb64a > #backgroundBox {
  position: absolute;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a > #alignmentBox {
  position: relative;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 {
  position: absolute;
  width: 1230.000000000001px;
  min-height: 124.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #94E1CE;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 35px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_2 span#rtr-s-Rectangle_2_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_2 {
  position: absolute;
  width: 16.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_2 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_1 {
  position: absolute;
  width: 485.0px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_1 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 35.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 35.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 {
  position: absolute;
  width: 1230.000000000001px;
  min-height: 597.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_3 {
  position: absolute;
  width: 435.0000000000001px;
  height: 379.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_3 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 {
  position: absolute;
  width: 667.7500000000003px;
  min-height: 219.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #DDDDDD;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 22px 22px 22px 22px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_2 span#rtr-s-Paragraph_2_2 {
  color: #313131;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #2F2F2F;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #shapewrapper-s-Line_1 marker {
  fill: #C6C6C7;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #shapewrapper-s-Line_1 {
  position: absolute;
  width: 370.0px;
  height: 10.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Line_1 {
  width: 370.0px;
  height: 10.0px;
  stroke-width: 2px;
  stroke-dasharray: 6,2;
  stroke: #C6C6C7;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Line_1 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_4 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_4 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_5 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_5 span {
  color: #367D6C;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 12.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #367D6C;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 12.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_6 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_6 span {
  color: #181B1A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 18.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #181B1A;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 18.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_4 {
  position: absolute;
  width: 21.0px;
  height: 19.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_4 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_7 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_7 span {
  color: #707070;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #707070;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_8 {
  position: absolute;
  width: 709.0px;
  min-height: 98.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_8 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 16.0pt;
  line-height: 30px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 16.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 {
  position: absolute;
  width: 1232.0000000000005px;
  min-height: 218.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_9 {
  position: absolute;
  width: 150.390625px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_9 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_9 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_10 {
  position: absolute;
  width: 303.1875px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_10 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_10 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_11 {
  position: absolute;
  width: 172.5468750000001px;
  min-height: 141.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_11 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_11 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_5 {
  position: absolute;
  width: 28.875px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_5 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_6 {
  position: absolute;
  width: 28.875px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_6 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_7 {
  position: absolute;
  width: 28.875px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_7 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_12 {
  position: absolute;
  width: 150.390625px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_12 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_12 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_13 {
  position: absolute;
  width: 133.546875px;
  min-height: 142.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_13 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_13 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #shapewrapper-s-Line_2 marker {
  fill: #B2B2B2;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #shapewrapper-s-Line_2 {
  position: absolute;
  width: 155.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Line_2 {
  width: 155.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #B2B2B2;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Line_2 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_14 {
  position: absolute;
  width: 150.390625px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_14 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_14 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #shapewrapper-s-Line_3 marker {
  fill: #B2B2B2;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #shapewrapper-s-Line_3 {
  position: absolute;
  width: 155.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Line_3 {
  width: 155.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #B2B2B2;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Line_3 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_15 {
  position: absolute;
  width: 199.54687499999977px;
  min-height: 141.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_15 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_15 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 10.0pt;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 {
  position: absolute;
  width: 594.7500000000007px;
  height: 45.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 {
  box-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 .valign {
  vertical-align: middle;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Input_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 41px;
  padding-bottom: 1px;
  padding-left: 11px;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_8 {
  position: absolute;
  width: 19.000000000000227px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-75a24b04-a447-41dd-842a-5e69cc7eb64a #s-Image_8 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-75a24b04-a447-41dd-842a-5e69cc7eb64a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}